@charset "utf-8";
/* CSS Document */

a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked

a:link{
	color: #572C69;
}

a:visited {
	color: #C77AEF;
}

a:hover {
	color: #9A44AC;
}

a:active {
	color: #EFC7FA;
}


@font-face {
    font-family: blackout;
    src: url(blackout_midnight-webfont.woff);
}

@font-face {
	font-family: allerLight;
	src: url(aller_lt-webfont.woff);
}

@font-face {
	font-family: futura;
	src: url(futuralt-webfont.woff);
}

@font-face {
	font-family: futuraLight;
	src: url(futuralt-light-webfont.woff);
}

p {
    line-height: 100%;
}

.tab{
	padding-left: 5px;
}

.bold {
    font-weight: bold;
}

.italic{
	font-style: italic;
}

body {
    background-color: black;
	overflow-x: hidden;
}

.main-header{
	margin-top:230px;
	font-size: 50px;
	font-family: blackout, Verdana, sans-serif;
	color: white;
	text-align:center;
}

.sub-head{
	margin-top:20px;
	font-size: 20px;
	font-family: allerLight, Verdana, sans-serif;
	color: white;
	text-align:center;
}

.btn-transparent{
	margin-top: 50px;
	background-color:transparent;
	border-color: white;
	color: white;
	width: 150px;
	height: 30px;
	font-family: futura, Verdana, sans-serif;
	font-size: 12px;
	
}

.arrow{
	color: white;
	margin-top: 100px;
	margin-bottom: 100px;
}

.navbar{
	font-family: future, Verdana, sans-serif;
	margin-bottom: -10px;
}

.navbar-right{
		margin-right: 200px;	
}

.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}

.content-head{
	margin-top:100px;
	font-size: 43px;
	font-family: blackout, Verdana, sans-serif;
	color: black;
	text-align:center;
}

.content-subhead{
	margin-top:100px;
	font-size: 23px;
	font-family: futura, Verdana, sans-sarif;
	color: #171717;
	text-align:center;
}

.content{
	margin-top: 30px;
	font-size: 15px;
	font-family: allerLight, Verdana, sans-sarif;
	color: #3B3B3B;
	text-align:left;
	margin-bottom: 30px;
}

.content-list{
	font-size: 15px;
	font-family: allerLight, Verdana, sans-sarif;
	color: #3B3B3B;
	text-align:right;
}

.white{
	color: white;
}
.content-center{
	margin-top: 30px;
	font-size: 15px;
	font-family: allerLight, Verdana, sans-sarif;
	color: #3B3B3B;
	text-align:center;
	margin-bottom: 30px;
}

.home{
	padding-top:100px;
	margin-top: -100px;
	min-width: 100%;
	display: inline-block;
	background-image: url("becca.png");
}

.history{
	min-width: 100%;
	display: inline-block;
	background-color: #CCC;
	
}

.projects{
	min-width: 100%;
	display: inline-block;
	background-color: #EDE9EC;
	
}

.skills{
	min-width: 100%;
	display: inline-block;
	background-color: #1D1D1D;
	
}

.progress-bar-blue {
      background-color: #5EA2F4 !important;
}

.progress-bar-dblue {
      background-color: #261E91 !important;
}

.ostem{
	min-width: 100%;
	display: inline-block;
	background-color: #C8C8C8;
	
}

.content-subhead-ostem{
	margin-top:0px;
	font-size: 18px;
	font-family: allerLight, Verdana, sans-sarif;
	color: black;
	text-align:center;
}

.content-center-sub{
	font-size: 15px;
	font-family: allerLight, Verdana, sans-sarif;
	color: #3B3B3B;
	text-align:center;
	margin-bottom: 30px;
}

.involvement{
	min-width: 100%;
	display: inline-block;
	background-color: #E5E5E5;
	
}

.contact{
	min-width: 100%;
	display: inline-block;
	background-color: #2D2D2D;
	
}

.contact-head{
	margin-top:50px;
	font-size: 43px;
	font-family: blackout, Verdana, sans-serif;
	color: white;
	text-align:center;
}

.content-contact{
	margin-top: 20px;
	font-size: 15px;
	font-family: allerLight, Verdana, sans-sarif;
	color: white;
	text-align:left;
	margin-bottom: 30px;
}
